@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        z-index: 1;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: #d9d9d9;

    }

    #menu-toggle~.menu li a {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li a {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li a {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 8px 16px ;
        width: 100%;
        color: #000;
        background-color: #d9d9d9;
    }

    .menu>li a:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

@media (max-width: 500px) {
    .vertical-nav li {
        width: 160px;
    }
}



@media screen and (max-width: 767px) {
    .vertical-nav li.selected {
        background: #9A9A9A;
    }
}